* {
    box-sizing: border-box;
}

/*reset*/
button :focus,
button :active, 
input:focus,
input:active, 
textarea :focus,
textarea :active {
    box-shadow: none;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #faebd7;
    color: #2d3436;
    border: none;
    margin: 0;
}

section {
    position: absolute;
    top: 15%;
    width: 320px;
    padding: 15px;
    border-radius: 15px;
    box-shadow:  20px 20px 60px #d7cab9,
             -20px -20px 60px #fffff5;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    margin: 0;
    border-bottom: #2d3436 1px solid;
    padding-bottom: 5px;
}

ul {
    max-height: 500px;
	list-style: none;
    margin-bottom: 30px;
    overflow-y: auto;
    padding-right: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
}

form {
    width: 90%;
}

input {
    border: none;
    border-bottom: #2d3436 1px solid;
    background: none;
    width: 100%;
    font-size: 15px;
}

button {
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}